.image-container {
  overflow: hidden;
  position: relative;
  margin: 3% 0 0% 1%;
}

.image-centerer img {
  display: block;
  width: 84px;
}

.monad-para .p4 {
  margin: 0;
  font-size: 14px;
  color: #16617d;
  cursor: pointer;
}

.logout-img {
  margin-right: 26px;
  img {
    width: 31px;
    border-radius: 30px;
    border: 2px solid #16617D;
    background: #16617D;
    cursor: pointer;
  }
}

.profile-details {
  width: 65%;
  margin: 2% 0;
  padding-left: 6px;

  p {
    margin: 1px;
    color: #16617d;
  }

  .name {
    font-size: 14px;
    font-weight: 600 !important;
  }

  .mail {
    font-size: 12px;
  }

  .edit-profile {
    Button {
      text-align: center;
      cursor: pointer;
      border-radius: 50px;
      font-size: 11px;
      min-width: 65px !important;
      min-height: 25px !important;
    }
  }
}

.popover {
  max-width: 270px;
}

.popover-body {
  min-width: 1px;
  max-width: 260px;
  padding: 2%;
  margin-left: 0rem;
}

.line {
  height: 5px;
  border-bottom: 1px solid rgb(204, 200, 200);
}

.popover-bottom>.arrow {
  top: calc(-0.5rem - 1px);
  left: 0px;
}