.profile-block {
    overflow-y: scroll;
    height: 420px;

    ::-webkit-scrollbar {
        display: none;
    }

    .img-design {
        height: 135px;
        width: 124px;
        border-radius: 5px;
    }

    label {
        font-size: 13px;
        margin: 0;
    }

    .change-pswd {
        cursor: pointer;
    }

    .profile-section {
        padding: 0;

        .btn-size {

            Button {
                font-size: 13px !important;
                padding: 5px 9px;
                margin-right: 0;
                margin-left: 0;
            }

            .photo-remove {
                font-size: 12px !important;
                text-align: center !important;
                margin: 0;
                cursor: pointer;
            }
        }
    }

    .profile-actions {
        padding: 0 10px 0 0;
    }

    .error {
        color: red;
        font-size: 12px;
        margin: -.7rem 0 0 2px;
    }
}

.avatar-list {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: -10px 0 0 -10px;
    position: relative;
    gap: 1rem;
    justify-content: center;
}

.avatar-pic {
    width: 100px;
}

.selected-avatar {
    border: 2px solid #16617d;
    border-radius: 10px;
}

.profile-popup {
    .modal-dialog.modal-md.modal-dialog-centered {
        max-width: 550px !important;
    }
}