@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/mixins/_breakpoints.scss';

.df-login-container {
  .df-login-left-top,
  .df-login-left-bottom {
    justify-content: flex-end;
  }

  .df-login-right {
    justify-content: center;
  }
  .df-error-message {
    color: #ff0000 !important;
    font-size: 0.8rem;
    padding: 10px 0px;
  }
  .df-error-section {
    min-height: 40px;
    display: flex;
    justify-content: start;
    width: 350px;
  }
  .df-welcome-heading {
    font-size: 25px;
    font-weight: 700;
    display:flex;
    justify-content:center;
  }
}

@include media-breakpoint-down(md) {
  .df-login-container {
    .df-login-left-top,
    .df-login-left-bottom {
      justify-content: center;
    }
  }
}
