:root {
  --clr-primary: #16617d;
  --clr-primary-hover: #29e6a7;
  --clr-gray100: #f9fbff;
  --clr-gray150: #f4f6fb;
  --clr-gray200: #eef1f6;
  --clr-gray300: #e1e5ee;
  --clr-gray400: #767b91;
  --clr-gray500: #4f546c;
  --clr-highlight: #a3d2d6;
}

body {
  overflow-y: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.brand-logo {
  height: 40px;
  width: auto;
}
.brand-name {
  color: #fff;
  p {
    margin: 0 !important;
  }
}
.side-menu {
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(33, 83, 112, 0.39);
  -webkit-box-shadow: inset 0 0 6px rgba(33, 83, 112, 0.39);
  background-color: #f5f5f5;
}

.side-menu::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

.side-menu::-webkit-scrollbar-thumb {
  background-color: var(--clr-highlight);
}

ul {
  list-style-type: none;
}

.navbar {
  display: flex !important;
  justify-content: space-between !important;
  .form-inline {
    input {
      min-width: 440px;
      background: #e5f9fb;
    }
    input::placeholder {
      color: var(--clr-primary);
    }
  }
}

.nav-closed {
  position: relative;
  background-color: #16617d;
  box-shadow: 0px 0px 10px var(--clr-gray300);
  min-height: 100vh;
  .nav-list-item {
    display: flex;
    justify-content: center;
  }
  .brand-name {
    display: none;
  }
  aside {
    display: flex;
    justify-content: center;
  }
  hr {
    display: none;
  }
  .help-section {
    display: none;
  }
}

#openNav {
  width: 275px;
}

#closeNav {
  transition: 0.5s;
  width: 60px;
}

.nav {
  transition: 0.5s;
  aside {
    display: flex;
    justify-content: center;
    width: 275px;
  }
  hr.separator {
    border-top: 1.5px solid var(--clr-highlight);
    margin: 0px 10px;
  }
  width: 275px;
  position: relative;
  background-color: #16617d;
  min-height: 100vh;
  &-expand {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--clr-primary);
    background-color: var(--clr-highlight);
    border-radius: 50%;
    position: absolute;
    right: -0.8rem;
    top:1rem;
    z-index: 99;
    cursor: pointer;
    transform: rotateZ(-180deg);
    transition: transform 600ms ease-in-out;
  }
  &-list {
    display: flex;
    flex-direction: column;
    width: 275px;
    min-height: 90vh;
    position: relative;
    &-item {
      list-style: none;
      transition: all 200ms ease-in;
      padding: 5px 21px;
      min-height: 40px;
      cursor: pointer;
        display: flex;
        gap: 10px;
        color: #fff;
      :hover {
        color: white;
        text-decoration: none;
      }
      &:hover {
        background-color: var(--clr-gray150);
        background-color: #4c89a0;
      }
      a {
        display: flex;
        gap: 1rem;
        align-items: center;
        color: white;
        text-decoration: none;
        font-weight: 500;
        > p {
          font-family: 'Muli';
          font-size: 16px;
          margin: 0;
        }
      }
      svg {
        fill: #f5f5f5;
        width: 18px;
      }
      &-active {
        background-color: var(--clr-gray200);
        background-color: #a3d2d6;
        :hover {
          color: #16617d;
          text-decoration: none;
        }
        svg,
        p {
          color: var(--clr-primary);
          fill: var(--clr-primary);
        }
      }
    }
  }
  &-closed &-expand {
    transform: rotateZ(0deg);
  }
  &-closed &-list {
    width: 60px;
  }
  &-closed &-list-item p {
    display: none;
  }
  &-header-main-content {
    .main-container {
      position: relative;
      padding: 1rem 1rem;
      overflow-y: auto;
    }
  }
  .help-section {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 10px;
    padding: 40px 20px;
    align-items: center;
    .monad-para p {
      margin: 0;
      color: #fff;
    }
    svg {
      fill: #fff;
    }
  }
}

.global-container {
  position: absolute;
  width: 100%;
  overflow-y: auto;
  display: flex;
  .navbar {
    background-color: #a3d2d6;
    height: 60px;
    > p {
      color: var(--clr-primary);
    }
  }
  .nav-header-main-content {
    width: 100%;
  }
}

.app-name {
  color: #16617d;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.has-search .form-control {
  padding-left: 2.5rem;
}

.form-control-feedback {
  margin: 0px 5px;
  color: var(--clr-primary) !important;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 1rem;
  height: 1rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.open-submenu {
  background-color: #14546D;
  opacity: 1;  
  visibility: visible;
  transition: opacity 1.5s, visibility 1.5s;
  .submenu-list{
    padding: 0 0.5rem;
  }
}
.close-submenu {
  opacity: 0;
  visibility: hidden;
  height: 0px;
}